.App {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list__item {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(1200px/3 - 66px);
  margin: 16px;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid black;
}